body {
    background-color: rgb(238, 157, 8);
}
li {
    display: inline;
    padding: 5px;
}

.myForm{
    width: 70%;

    margin: auto;
}

.sidebar{
    background-color: brown;
}

.sidebarItem{
    display: block;
}
.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
.scroll{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}
.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
}