body {
    background-color: rgb(238, 157, 8);
}
li {
    display: inline;
    padding: 5px;
}

.myForm{
    width: 70%;

    margin: auto;
}

.sidebar{
    background-color: brown;
}

.sidebarItem{
    display: block;
}
footer {
    background-color: aliceblue;
    text-align: center;
     position: absolute;
     left: 0;
     bottom: 0;
     height: 32px;
     width: 100%;
     overflow: hidden;
  }