body {
    background-color: rgb(238, 157, 8);
}
li {
    display: inline;
    padding: 5px;
}

.myForm{
    width: 70%;

    margin: auto;
}

.sidebar{
    background-color: brown;
}

.sidebarItem{
    display: block;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}